.header {
  width: 100%;
  padding: 1rem 1.5rem;

  background-color: var(--primary-color);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media screen and (max-width: 768px) {
 .header {
  justify-content: center;
 }
}
